#textdomain wesnoth-Wilfcastle

#define RANDOM_SIDE
    [multiplayer_side]
        id=Random
        name= _"Random"
        image="units/random-dice.png"
        {MAGENTA_IS_THE_TEAM_COLOR}
        random_faction=yes
    [/multiplayer_side]
#enddef

#define FACTIONS_WILFCASTLE
    {multiplayer/factions/loyalists-default.cfg}
    {multiplayer/factions/rebels-default.cfg}
    {multiplayer/factions/northerners-default.cfg}
    {multiplayer/factions/undead-default.cfg}
    {multiplayer/factions/knalgans-default.cfg}
    {multiplayer/factions/drakes-default.cfg}
    #Add your factions and refer to them here like the example below.
    {~add-ons/Wilfcastle/factions/Mothball.cfg}
    {~add-ons/Wilfcastle/factions/loyalists-modified.cfg}
    {~add-ons/Wilfcastle/factions/ex-monsters.cfg}
    {~add-ons/Wilfcastle/factions/ghazians-default.cfg}
    {~add-ons/Wilfcastle/factions/rats-and-magic.cfg}
    {~add-ons/Wilfcastle/factions/ground-zero.cfg}
    {~add-ons/Wilfcastle/factions/urlo.cfg}
#enddef

#define ERA_WILFCASTLE
    {RANDOM_SIDE}
    {FACTIONS_WILFCASTLE}
#enddef



{~add-ons/Wilfcastle/macros/faction_helpers.cfg}
{~add-ons/Wilfcastle/macros/debug.cfg}

[era]
    id=era_Wilfcastle
    name= _ "Wilfcastle"

    {ERA_WILFCASTLE}
    
    # Evaluate players when the game starts and tie a 'side' with their 'faction'.
    [event]
        name=prestart
        
        {BUILD_FACTION_LIST}
        
        {DETECT_FACTIONS}       
        
        {PRINT_SIDE_TO_FACTION}

    [/event]
    
    # Factions have their own musical themes.
    # When this event kicks off, the variable side_number contains the value of the side starting their turn. 
    # Using the side <-> faction lookup, use the current side to play some faction-specific music.

    {~add-ons/Wilfcastle/macros/jukebox.cfg}    
    [event]
    
        name=side turn
        first_time_only=no
            
        {PRINT_CURRENT_SIDE}
        
        {PLAY_MUSIC_FOR_SIDE}
        
    [/event]
    
[/era]