#textdomain wesnoth-Wilfcastle

[unit_type]
    id=Urlo Ray
    name= _ "female^Urlo Ray"
    gender=female
    race=urlo
    image="urlo/gleam.png"
    ellipse="misc/ellipse"
    halo=halo/illuminates-aura.png
    #profile=""
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=19
    movement_type=urlolight
    movement=9
    experience=17
    level=2
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    cost=35
    usage=healer
    description= _ "The light emitted from an Urlo Ray is so bright that nearby enemies will actually be burned by the illumination."+{SPECIAL_NOTES}+{SPECIAL_NOTES_ILLUMINATES}+{SPECIAL_NOTES_HEALS}+{SPECIAL_NOTES_REGENERATES}+{SPECIAL_NOTES_TELEPORT}

    [abilities]
        {ABILITY_ILLUMINATES}
        {ABILITY_HEALS}
        {ABILITY_REGENERATES}
        {ABILITY_TELEPORT}
    [/abilities]
[/unit_type]
