#textdomain wesnoth-Wilfcastle
# custom abilities to be used with Wilfcastle units 

#define ABILITY_DESERTAMBUSH
    # Canned definition of the Ambush ability to be included in an
    # [abilities] clause.
    [hides]
        id=desertambush
        name= _ "desert ambush"
        female_name= _ "female^desert ambush"
        name_inactive= _ "desert ambush"
        female_name_inactive= _ "female^ desert ambush"
        description= _ "Desert Ambush:
This unit can hide in deserts, and remain undetected by its enemies.

Enemy units cannot see this unit while it is in deserts, except if they have units next to it. Any enemy unit that first discovers this unit immediately loses all its remaining movement."
        description_inactive= _ "Ambush:
This unit can hide in deserts and remain undetected by its enemies.

Enemy units cannot see this unit while it is in deserts except if they have units next to it. Any enemy unit that first discovers this unit immediately loses all its remaining movement."
        affect_self=yes
        [filter_self]
            [filter_location]
                terrain=*^Dp,*^Det,*^Dt,*^Dpa,*^Dd*,*^Dm*
            [/filter_location]
        [/filter_self]
    [/hides]
#enddef