#textdomain wesnoth-Wilfcastle

#define SET_FACTION_DEBUG
    [variable]
        name=setFactionDebug
        value=true
    [/variable]
#enddef

#define BUILD_FACTION_LIST
    {DEBUG "In BUILD_FACTION_LIST"}
    
    [set_variables]
        name=factions
        [value]
            {FACTIONS_WILFCASTLE}
        [/value]
    [/set_variables]
#enddef

#define DETECT_FACTIONS
    [lua]
        code={~add-ons/Wilfcastle/macros/detect_faction_lua}
    [/lua]
       
    # Fill out side_to_faction array. 
    # Array indexing is by 0, $side_number is from 1-n.
    # Let's have side 1 represent player 1 and fix the array indexing.
    [set_variables]
        name=side_to_faction
        mode=replace
        [value]
            id=0
        [/value]
        [value]
            id=$p1_faction_id
            music=$p1_faction_music
        [/value]
        [value]
            id=$p2_faction_id
            music=$p2_faction_music
        [/value]
        [value]
            id=$p3_faction_id
            music=$p3_faction_music
        [/value]
        [value]
            id=$p4_faction_id
            music=$p4_faction_music
        [/value]            
    [/set_variables]
#enddef

#define PRINT_SIDE_TO_FACTION
    # Verify that the faction was filled out properly.
    [if]
        [variable]
            name=setFactionDebug
            equals=true
        [/variable]
        [then]
            {PRINT  "print out side_to_faction"}
            {PRINT  "1: $side_to_faction[1].id"}
            {PRINT  "2: $side_to_faction[2].id"}
            {PRINT  "3: $side_to_faction[3].id"}
            {PRINT  "4: $side_to_faction[4].id"}
            {PRINT  "print out side_to_faction DONE"}
        [/then]
    [/if]
#enddef

#define PRINT_CURRENT_SIDE
    [if]
        [variable]
            name=setFactionDebug
            equals=true
        [/variable]
        [then]
            {PRINT "side: $side_number race: $side_to_faction[$side_number].id has taken a turn."}
        [/then]
    [/if]
#enddef